body,html{
  height:100%;padding:0px;margin:0px
}
body{
background-image:url("../img/space.png");
}

.place{
    position: absolute;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 35px;
    margin-top: 30px;
    font-family: arial;
    color: yellow;
    font-size: 25px;
    font-weight: bold;
    overflow: hidden;
}

#titles  {
 color: yellow;
 position: absolute;
 width: 18em;
 height: 50em;
 bottom: 0;
 left: 50%;
 margin-left: -9em;
 font-size: 350%;
 font-weight: bold;
 text-align: justify;
 overflow: hidden;
 transform-origin: 50% 100%;
 transform: perspective(300px) rotateX(25deg);
}
#titlecontent {
 position: absolute;
 top: 100%;
 animation: scroll 100s linear 1s infinite;
}
@keyframes scroll {
 0%   { top: 100%; }
 100% { top: -50%; }
}

.a,.c{
    width:50%;
    height:60%;
    float:left;
    margin-top:5%;
    }

#nave{
  text-align:center;
  position:fixed;
  top:5%;
  width:100%;
  height:20%;
}
#nave img{
  height:100%;

}
#moon{
  text-align:center;
  bottom:-80%;
  position:fixed;
  width:100%;
  height:100%;
}

#moon img{
       max-width: 100%;
       height:30%;
      }

#cpanel{
    position:relative;
    float:left;
    text-align: center;
    display:block;
    font-family: Verdana;
    font-size:17px;
    line-height:25px;
    padding-left:0px;
    list-style:none;
    }

    #velocidad
    {
            background-color: red;
            display:block;
            width: 200px;
            height: 25px;
            margin: 10px;
            border-radius: 2px;
            }
            #combustible
            {
                    background-color: orange;
                    display:block;
                    width: 200px;
                    height: 25px;
                    margin: 10px;
                    border-radius: 2px;
                    }
                    #altura
                    {
                            background-color: yellow;
                            display:block;
                            width: 200px;
                            height: 25px;
                            margin: 10px;
                            border-radius: 2px;
                            }

#menu {
    float:right;
    text-align: center;
    display:block;
    width:17%;
    height:45%;
    font-size:15px;
    line-height:44px;
    padding-left:0px;
    list-style:none;
    }

    .button {
      font-family: Verdana;
      font-size:17px;
      color: white;
      border-radius:6px;
      width: 100px;
      height:35px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 3px #999;
    }

    .button:hover {background-color: #3e8e41}

    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
                  a:link {
                  color: white;
                  }
                  a:visited {
                  color: white;
                  }

                      #helptime {
                      position: absolute;
                      right: 110px;
                      }
                      #helptime li {
                      margin: 0;
                      padding: 0;
                      list-style: none;
                      position: absolute;
                      top: 20px;
                      }
                      #helptime li, #helptime a {
                      height: 30px;
                      display: block;
                      }

                      #h  {
                      left: 100px;
                      width: 32px;
                      background: url('../img/sprite.png') -32px 0px;
                      }
                      #h a:hover {
                      background: url('../img/sprite.png') -64px 0;
                      }
                      #h a:active {
                      background: url('../img/sprite.png') 32px 0;
                      }

                      #win{
                      	z-index:3;
                      	position:fixed;
                      	background-color:grey;
                      	width:60%;
                      	height:40%;
                      	left: 20%;
                      	top: 23%;
                      	opacity: 0.7;
                      	border-radius: 10px;
                      	display:none;
                      	color:yellow;
                      	text-align:center;
                      }
                      #lose{
                      	z-index:3;
                      	position:fixed;
                      	background-color:grey;
                      	width:60%;
                      	height:40%;
                      	left: 20%;
                      	top: 23%;
                      	opacity: 0.7;
                      	border-radius: 10px;
                      	display:none;
                      	color:yellow;
                      	text-align:center;
                      }
                      #pausa{
                        z-index:3;
                        position:fixed;
                        background-color:grey;
                        width:60%;
                        height:40%;
                        left: 20%;
                        top: 23%;
                        opacity: 1;
                        border-radius: 10px;
                        display:none;
                        color:yellow;
                        text-align:center;
                      }
                      #about{
                        z-index:3;
                        position:fixed;
                        background-color:grey;
                        width:60%;
                        height:40%;
                        left: 20%;
                        top: 23%;
                        opacity: 1;
                        border-radius: 10px;
                        display:none;
                        color:yellow;
                        text-align:center;
                      }
